@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
    margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
    background-image: url('./image/japanlounge.jpg');
    background-size: 100%; 
    text-align: center; 
}
.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #131313;
  padding-bottom: 20px;
}

.logo {
  float: left;
  padding: 10px 0;
}


nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: rgb(254, 254, 254);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  margin: 100px;
}

nav a:hover {
  color: rgb(68, 243, 255);
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: rgb(255, 255, 255);

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 180ms;
}

nav a:hover::before {
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

li {
  font-size: 27px;
  color: white;
}

main {
  position: absolute;
width: 100%;
height: 356px;
text-align: center;


background: rgba(74, 74, 74, 0.44);
}

h3 {
  font-size: 43px;
  color: white;
  font-style: italic;
}

h4 {
  font-size: 32px;
  color: white;
  font-style: bold;
}
h5 {
  display: flex;
  justify-content: center;
  margin: 300px;
}
#box1 {
height: 340px;
width: 600px;
margin: 100px;
border-radius: 2%;
background-image: url(./image/creation.jpg);
background-image: 100%;
}

#box2 {
  height: 340px;
  width: 600px;
  margin: 100px;
  border-radius: 2%;
  background-image: url(./image/unlimited\ potential.jpg);
  background-size: 100%;
  
}

#box3 {
  height: 340px;
  width: 600px;
  margin: 100px;
  border-radius: 2%;
  background-image: url(./image/family.jpg);
  background-size:100%;
}

#cardDisplay {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  
}

#name {
  border-radius: 2px;
  
}

.one-card {
  background-color: #131313;
  width: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {
  width: 300px;
  height: 300px;
}
