@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
    margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
    background-image: url('./image/japanlounge.jpg');
    background-size: 100%; 
    text-align: center; 
}
.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #131313;
  padding-bottom: 20px;
}

.logo {
  float: left;
  padding: 10px 0;
}


nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: rgb(254, 254, 254);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  margin: 100px;
}

nav a:hover {
  color: rgb(68, 243, 255);
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: rgb(255, 255, 255);

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 180ms;
}

nav a:hover::before {
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

li {
  font-size: 27px;
  color: white;
}

main {
  position: absolute;
width: 100%;
height: 356px;
text-align: center;


background: rgba(74, 74, 74, 0.44);
}

h3 {
  font-size: 43px;
  color: white;
  font-style: italic;
}

h4 {
  font-size: 32px;
  color: white;
  font-style: bold;
  padding: 8px;
}
.mainonpage {
margin-top: 9px;
position: absolute;
width: 100%;
height: 542px;
text-align: center;
flex: auto;



background: rgba(40, 40, 40, 0.44);

}
h5 {
  display: flex;
  justify-content: center;
  margin: 15px;
  color: white;
  font-size: 60px;
}

#freedom {
  height: 300px;
  width: 500px;
  border-radius: 10px;
}


#gamer {
  height: 300px;
  width: 500px;
  
}

#japan {
  height: 300px;
  width: 500px;
}

#cardDisplay {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  color: white; 
}

.one-card {
  background-color: #494949;
  width: 300px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.card-image {
  width: 300px;
  height: 300px;
}

.delete-button {
  background-color: rgb(0, 0, 0);
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  border-radius: 3px;
  border: 2px solid rgb(255, 255, 255);
}

.delete-button:hover {
  background-color: rgb(51, 51, 51);
}

.delete-button:active {
  background-color: rgb(50, 48, 48);
  transform: translateY(4px);
  
  
}

#addCard {
  background-color: rgb(52, 52, 52);
  height: 34px;
  text-decoration: #464545;
  border-radius: 4px;
  color: white;
  border: 8px solid brown
}

#picture {
  background-color: rgb(52, 52, 52);
  height: 28px;
  border: 8px solid brown
}

#description {
  background-color: rgb(52, 52, 52);
  height: 28px;
  border: 8px solid brown
}

#name {
  background-color: rgb(52, 52, 52);
  height: 28px;
  border: 8px solid brown
}

.test {
  margin-top: 40px;
}

.headertop {
  color: white;
  padding: 20px;
  font-size: 30px;
}

.card-name {
  text-transform: uppercase;
}

.card-desc {
  text-transform: uppercase;
}
